<!DOCTYPE html>
<html>
<head>
  <title>HeycampbellBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class='sidenav'>
  <div class='menu-burger'>
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar" id='top'></span>
    <span class="icon-bar" id='meat'></span>
    <span class="icon-bar" id='bottom'></span>
  </div>

  <ul class="side-menu">
    <li><a href="#">Projects</a><i class="fa fa-wrench"></i></li>
    <li><a href="#">Thoughts</a><i class="fa fa-wrench"></i></li>

    <li><a href="https://github.com/HeyCampbell">Github</a><i class="fa fa-github-square"></i></li>
    <li><a href="https://www.linkedin.com/in/heycampbell">LinkedIn</a><i class="fa fa-linkedin-square"></i></li>
    <li><a href="https://twitter.com/heycampbell">Twitter</a><i class="fa fa-twitter-square"></i></li>
    <li><a href="mailto:heycampbell@gmail.com">Email</a><i class="fa fa-envelope-square"></i></li>
    <% if current_user %>

    <span>Admin</span>
    <li><%=link_to "New Thought", new_thought_path %><i class="fa fa-wrench"></i></li>
    <li><%=link_to "New Project", new_project_path %><i class="fa fa-wrench"></i></li>
    <li><%=link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
    <% end %>
  </ul>

</div>

<div class='main_panel'>

<%= yield %>
</div>
</body>
</html>
